<div class="text-centered">
  <div *ngIf="sessionUser === null">
   You are not logged in.
  </div>
  <div *ngIf="sessionUser !== null">
    Welcome, {{ sessionUser.username }}.
  </div>
  <div *ngIf="sessionUser !== null">
    <div *ngIf="sessionUser.adminStatus">
      <span class="icon is-small is-left">
              <i class="fas fa-chess-king"></i>
      </span><span>&nbsp;
      You are admin.</span>
    </div>
  </div>
</div>
