<app-navbar></app-navbar>
<div class="container is-white">
  <div class="box bg-img">

    <img class="image has-image-centered" width="400" height="10" src="./assets/static/img/divider_top.png">

    <app-session-user class="box"></app-session-user>

    <div class="box">
      <router-outlet></router-outlet>
    </div>


    <img class="image has-image-centered" width="600" height="10" src="./assets/static/img/BottomDivider.png">
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="goneWhenMobile">
      <img class="image level-item" width="280" height="280" src="./assets/static/img/OrnamentUntenLinks.png">
    </div>
  </div>

  <div class="box title is-white is-6 has-text-centered">
    <p>
      <a routerLink="/imprint">Imprint</a>
      |
      <a routerLink="/privacypolicy">PrivacyPolicy</a>
    </p>
  </div>

  <div class="level-right">
    <div class="goneWhenMobile">
      <img class="image level-item" width="280" height="280" src="./assets/static/img/OrnamentUntenRechts.png">
    </div>
  </div>
</div>

