
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
.text-centered{
  text-align: center;
}
h3{
  text-align: center;
}
.box{
  background-color: rgba(233, 233, 233, 0.93);
}
.bg-img{
  background-image: url(/assets/static/img/Greif.png) ;
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
@media screen and (max-width: 900px) {
  .goneWhenMobile{
    display: none;
  }

}

