<ng-container *ngIf="userProfile !== null">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
      <h3 class="title is-3">{{userProfile.username}}</h3>
    </div>
    <div class="column">
      <app-help-window *ngIf="(userProfile.adventurers.length > 0) && (userProfile.gametables.length > 0)"
                       [myMessage]="'This is a profile page for a player and gamemaster.'">
      </app-help-window>
      <app-help-window *ngIf="(userProfile.adventurers.length > 0) && !(userProfile.gametables.length > 0)"
                       [myMessage]="'This is a profile page for a player.'">
      </app-help-window>
      <app-help-window *ngIf="!(userProfile.adventurers.length > 0) && (userProfile.gametables.length > 0)"
                       [myMessage]="'This is a profile page for a gamemaster.'">
      </app-help-window>
      <app-help-window *ngIf="!(userProfile.adventurers.length > 0) && !(userProfile.gametables.length > 0)"
                       [myMessage]="'This is a profile page for a user.'">
      </app-help-window>
    </div>
  </div>

  <ng-container *ngIf="userProfile.adventurers.length > 0">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let adventurer of userProfile.adventurers">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="./assets/static/img/Helmet.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{adventurer.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="(adventurer.inventory.length > 0) || (userProfile.adventurerGametables.length > 0) ||
            (adventurer.downloadLink !== '' && adventurer.downloadLink !== null)">
            <div class="card-content has-text-left">
              <ng-container *ngIf="adventurer.inventory.length > 0">

                <form (ngSubmit)="setAdventurerToShowInventoryFor(adventurer.name)">
                  <button class="button is-white-script is-light-blue" type="submit">
                    <span class="icon is-small is-left">
                      <i class="fas fa-th-list"></i>
                    </span>
                    <span>Show Inventory</span>
                  </button>
                </form>
                <div *ngIf="adventurerToShowInventoryForName !== null">
                  <div class="box" *ngIf="adventurerToShowInventoryForName === adventurer.name">
                    <table class="table is-striped is-fullwidth is-hoverable">
                      <tr>
                        <th>Inventory</th>
                      </tr>
                      <div *ngFor="let item of adventurer.inventory">
                        <div>
                          <tr>
                            <td>{{item.name}}</td>
                            <td>
                              {{item.amount}}
                            </td>
                          </tr>
                        </div>
                        <div class="is-size-6">
                          <tr>
                            <td>{{item.description}}</td>
                          </tr>
                        </div>
                      </div>
                    </table>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="adventurer.downloadLink !== '' && adventurer.downloadLink !== null">
                  <a class="button is-green-blue is-white-script" href="{{adventurer.downloadLink}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-download"></i>
                </span>
                    <span>Download</span>
                  </a>
              </ng-container>
              <ng-container *ngIf="userProfile.adventurerGametables.length > 0">
                <ng-container
                  *ngIf="userProfile.adventurerGametables[userProfile.adventurers.indexOf(adventurer)] !== ''">
                  <form
                    routerLink="/tableProfile/{{userProfile.adventurerGametables[userProfile.adventurers.indexOf(adventurer)]}}">
                    <button class="button is-white-script is-green-blue" type="submit">
                     <span class="icon is-small is-left">
                       <i class="fas fa-th-list"></i>
                     </span>
                      <span>Show Table</span>
                    </button>
                  </form>
                </ng-container>
                <ng-container
                  *ngIf="userProfile.adventurerGametables[userProfile.adventurers.indexOf(adventurer)] == ''">
                  <form>
                    <button class="button is-grey" type="submit" disabled>
                     <span class="icon is-small is-left">
                       <i class="fas fa-th-list"></i>
                     </span>
                      <span>Show Table</span>
                    </button>
                  </form>
                </ng-container>
              </ng-container>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="getUserProfile()">
      <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
        <span>Reload</span></button>
    </form>

  </ng-container>

  <ng-container *ngIf="(userProfile.adventurers.length > 0) && (userProfile.gametables.length > 0)">
    <hr class="is-black">
  </ng-container>

  <ng-container *ngIf="userProfile.gametables.length > 0">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let gametable of userProfile.gametables">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="./assets/static/img/Table.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p routerLink="/tableProfile/{{gametable.id.toString()}}" class="title is-4">
                      <a>{{gametable.name}}</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-content has-text-centered">
              <div *ngFor="let adventurer of gametable.adventurerList">
                <p routerLink="/profile/{{adventurer.user.username}}">{{adventurer.name}} by
                  <a>{{adventurer.user.username}}</a></p>
                <div *ngIf="adventurer.downloadLink !== '' && adventurer.downloadLink !== null">
                  <a class="button is-green-blue is-white-script is-small" href="{{adventurer.downloadLink}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-download"></i>
                </span>
                    <span>Download</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="getUserProfile()">
      <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
        <span>Reload</span></button>
    </form>

  </ng-container>

</ng-container>
