.helpBox{
  padding: 1rem;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  z-index: 20;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right:3rem;
  transition: width 1s, height 1s, opacity 1s;
}



.helpSymbol:hover + .helpBox{
  opacity: 1;
  width: 50rem;
  height: 20rem;
}

