.text-centered{
  text-align: center;
}
h3{
  text-align: center;
}
.is-centered{
  margin-left: auto;
}
.input {
  width: 17rem;
}
.content
{
  text-align: center;
}
.inner
{
  display:inline-block;
}
.icon {
  display:inline-block;
  text-align: center;
}
