<section class="hero is-small is-fixed-top">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head is-light-blue">
    <nav class="navbar navbarDesktop">
      <div class="container">
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body is-green-blue">
    <div class="container rotate">
      <div class="columns is-centered">
        <div class="box is-green-blue">
          <div class="column">
            <div class="test">
              <img class="image is-128x128 justify-content-center" src="./assets/static/img/logo.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Desktop version-->
  <!-- Hero footer: will stick at the bottom of Hero and will become a Navbar if user scrolls down-->

  <div class="navbarDesktop">
    <div class="hero-foot is-light-blue" #stickyMenu [class.sticky]="sticky">
      <nav class="navbar" style="z-index: 10" role="navigation" aria-label="main navigation">
        <div *ngIf="sticky" class="navbar-brand">
          <a routerLink="/dashboard">
            <img src="./assets/static/img/navbarImage.png" class="linkWorkaround" width="100">
          </a>
          <img src="./assets/static/img/navbarImage.png" class="linkWorkaroundbehind" width="100">
        </div>
        <div class="navbar-start has-text-weight-bold">
          <ng-container *ngIf="sessionUser!== null">
            <div class="navbar-item">
              <a routerLink="gametables" class="is-white-script">
                Gametables
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="sessionUser !== null">
            <ng-container *ngIf="sessionUser.roleInGroup === 'player'">
              <div class="navbar-item">
                <a routerLink="adventurers" class="is-white-script">
                  Adventurer
                </a>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="sessionUser !== null">
            <ng-container *ngIf="sessionUser.adminStatus">
              <div class="navbar-item">
                <a routerLink="admin" class="is-white-script">
                  Admin Area
                </a>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="sessionUser !== null">
              <div class="navbar-item">
                <a routerLink="findgametable" class="is-white-script">

                  Search Gametables

                </a>
              </div>
          </ng-container>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-text-weight-bold" *ngIf="sessionUser === null">
            <a routerLink="register" class="is-white-script">
              Register
            </a>
          </div>
          <div class="navbar-item">
            <a routerLink="login" class="is-white-script has-text-weight-bold" *ngIf="sessionUser === null">
              Login
            </a>
            <button class="button is-green-blue is-white-script " *ngIf="sessionUser !== null" (click)="logout()">
            <span class="icon is-small is-left">
              <i class="fas fa-sign-out-alt"></i>
            </span>
              <span>Logout</span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>


<!--Mobile Version-->
<div class="navbarNotDesktop">
  <nav class="navbar is-fixed-top is-light-blue" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#top" (click)="offsetAnchor()">
        <img src="./assets/static/img/navbarImage.png" class="linkWorkaroundbehind" width="50">
      </a>

      <a role="button" class="navbar-burger is-green-blue is-white-script has-text-centered"
         *ngIf="sessionUser !== null" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </nav>
</div>

<!--Ornamente hinter dem Hero-->
<div class="level">
  <div class="level-left">
    <div class="goneWhenMobile">
      <img class="image level-item" width="280" height="280" src="./assets/static/img/OrnamentLinks.png">
    </div>
  </div>

  <div class="box title is-white has-text-centered">
    <h1 class="title is-1">
      Welcome to PnP Tables
    </h1>
    <h2 class="subtitle is-4 has-text-centered">
      Where Heroes Meet Players
    </h2>
  </div>

  <div class="level-right">
    <div class="goneWhenMobile">
      <img class="image level-item" width="280" height="280" src="./assets/static/img/OrnamentRechts.png">
    </div>
  </div>
</div>
