@media screen and (max-width: 900px) {
  .goneWhenMobile{
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .navbarDesktop{
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .navbarNotDesktop{
    display: none;
  }
}


.hasMargin{
  margin-top: 50px;
}

.sticky{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.test {
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.test:hover {
  transform: rotateY(180deg);
}
.linkWorkaround{
  opacity: 0;
  z-index: 20;
  position: absolute;
}
.linkWorkaroundbehind{
  z-index: -10;
  position: relative;
}



