<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <h3 class="title is-3">Admin Area</h3>
  </div>
  <div class="column">
    <app-help-window [myMessage]="'As an admin you have already shown that you are a trusted member of the community.\n' +
' Therefore this area provides you with all the necessary tools and information to help build and develop it even further.\n' +
' As a general point of advice consider the buttons in this section to be scalpels not hammers!\n' +
' The upper part shows all registered users. You can promote them to admins or demote them in case they have shown themselves to be \n' +
' untrustworthy. Please refrain from admin wars. A delete option is also available. Make sure to choose... wisely. \n' +
' Adventurers can also be removed but since it will delete the containing PDF-file permanently ensure it is not vital to anyone.\n' +
' Always remember: With great power comes great responsibility.'">
    </app-help-window>
  </div>
</div>
<div class="columns is-multiline is-variable is-8">
  <div *ngFor="let user of userList">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title is-centered">
            <span *ngIf="user.adminStatus" class="icon is-small is-left">
              <i class="fas fa-chess-king is-green-blue-script"></i>
            </span>
            <span *ngIf="!user.adminStatus" class="icon is-small is-left">
              <i class="fas fa-chess-pawn is-green-blue-script"></i>
            </span>
            <span>&nbsp;</span>
            <div>
              <p routerLink="/profile/{{user.id.toString()}}"><a>{{user.username}}</a></p>
            </div>
          </div>
        </div>
        <div class="card-content has-text-centered">
          <div *ngIf="user.adminStatus === true">
            <form (ngSubmit)="patchChangeAdminStatus(user)">
              <button class="button is-red is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-arrow-down"></i>
              </span>
                <span>Demote to Pleb</span></button>
            </form>
          </div>
          <div *ngIf="user.adminStatus === false">
            <form (ngSubmit)="patchChangeAdminStatus(user)">
              <button class="button is-light-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-arrow-up"></i>
              </span>
                <span>Promote to Admin</span></button>
            </form>
          </div>
          <div class="card-footer">
            <div class="card-footer-item">


              <form *ngIf="!user.adminStatus"
                    (ngSubmit)="deleteUser(user)">
                <button class="button is-red is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
              </span>
                  <span>Delete User</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="getListofUsers()">
  <button class="button is-white-script is-green-blue" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
    <span>Reload</span></button>
</form>


<hr class="is-black">

<h4 class="has-text-centered">Delete Adventurer</h4>
<br>
<!--        Delite adventurers-->
<div class="columns is-multiline is-variable is-8">
  <div *ngFor="let adventurer of adventurers">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="./assets/static/img/Helmet.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p routerLink="/profile/{{adventurer.user.id.toString()}}">{{adventurer.name}} by <a>{{adventurer.user.username}}</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content is-centered">
          <form (ngSubmit)="deleteAdventurer(adventurer)">
            <button class="button is-white-script is-red" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
              </span><span>Delete Adventurer</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="getAdventurerList()">
  <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
    <span>Reload</span></button>
</form>

<hr class="is-black">

<div class="columns is-multiline is-variable is-8">
  <div *ngFor="let gametable of gametables">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="./assets/static/img/Table.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p routerLink="/tableProfile/{{gametable.id.toString()}}" class="title is-4"><a>{{gametable.name}}</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content has-text-centered">
          <div *ngFor="let adventurer of gametable.adventurerList">
            <p routerLink="/profile/{{adventurer.user.id.toString()}}">{{adventurer.name}} by <a>{{adventurer.user.username}}</a></p>
          </div>
          <div class="card-footer">
                <div class="card-footer-item">
                  <form (ngSubmit)="deleteTable(gametable)">
                    <button class="button is-red is-white-script" type="submit">
                  <span class="icon is-small is-left">
                  <i class="fas fa-trash"></i>
                  </span>
                      <span>Delete Table</span>
                    </button>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="getGameTables()">
  <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
    <span>Reload</span></button>
</form>


<div *ngIf="unconfirmedUserList !== undefined">
  <div *ngIf="unconfirmedUserList.length > 0">

    <hr class="is-black">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let user of unconfirmedUserList">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title is-centered">
            <span class="icon is-small is-left">
              <i class="fas fa-chess-pawn is-green-blue-script"></i>
              </span>
                <div>&nbsp;
                  {{user.username}}</div>
              </div>
            </div>
            <div class="card-content has-text-centered">
              <form (ngSubmit)="confirmUser(user)">
                <button class="button is-success is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-arrow-down"></i>
              </span>
                  <span>Confirm User</span></button>
              </form>
              <div class="card-footer">
                <div class="card-footer-item">
                  <form (ngSubmit)="deleteUser(user)">
                    <button class="button is-red is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
              </span>
                      <span>Delete User</span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form (ngSubmit)="getListofUnconfirmedUsers()">
      <button class="button is-white-script is-green-blue" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
        <span>Reload</span></button>
    </form>

  </div>
</div>
