.is-yellow {background-color : #FFC045;}
.is-green-blue {background-color : #065471;}
.is-light-blue {background-color : #0BA1BF;}
.is-black {background-color : #01161E;}
.is-red {background-color : #C94E4E;}
.is-white {background-color : #F2EFEA;}
.is-very-light-blue {background-color: #D2EDF3}

.is-yellow-script {color : #FFC045;}
.is-green-blue-script {color : #065471;}
.is-light-blue {color : #0BA1BF;}
.is-black-script {color : #01161E;}
.is-red-script {color : #C94E4E;}
.is-white-script {color : #F2EFEA;}

body {
  font-family: 'Marcellus', Serif, serif;
}

.marcellus {
  font-family: 'Marcellus', Serif, serif;
}

.input {
  width: 20rem;
}

.button {
  width: 12rem;
}
