
/*.registration{*/
/*  opacity: 1;*/
/*  margin-top: 25px;*/
/*  font-size: 21px;*/
/*  text-align: center;*/
/*}*/

/*.registration:active{*/
/*  opacity: 1;*/
/*  margin-top: 25px;*/
/*  font-size: 21px;*/
/*  text-align: center;*/
/*  transition: opacity 1s ease-in;*/
/*}*/
.text-centered{
  text-align: center;
}
h3{
  text-align: center;
}
.is-centered{
  margin-left: auto;
}
.input {
  width: 17rem;
}
.content
{
  text-align: center;
}
.inner
{
  display:inline-block;
}
.icon {
  display:inline-block;
  text-align: center;
}
