<ng-container *ngIf="gametable !== null">

  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
      <h3 class="title is-3">{{gametable.name}}</h3>
      <div class="media-right">
        <p routerLink="/profile/{{gametable.owningGM.id.toString()}}">owned by <a>{{gametable.owningGM.username}}</a>
        </p>
      </div>
    </div>
    <div class="column">
      <app-help-window [myMessage]="'This is a profile page for a gametable.'">
      </app-help-window>
    </div>
  </div>

  <ng-container *ngIf="gametable.adventurerList.length > 0">
    <hr class="is-black">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let adventurer of gametable.adventurerList">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="./assets/static/img/Helmet.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{adventurer.name}}</p>
                  </div>
                  <div class="media-right">
                    <p routerLink="/profile/{{adventurer.user.id.toString()}}">owned by
                      <a>{{adventurer.user.username}}</a></p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="adventurer.inventory.length > 0 ||
                                ((adventurer.downloadLink!== null) && (adventurer.downloadLink !== ''))">
              <div class="card-content has-text-left">
                <ng-container *ngIf="adventurer.inventory.length > 0">
                  <form (ngSubmit)="setAdventurerToShowInventoryFor(adventurer.name)">
                    <button class="button is-white-script is-light-blue" type="submit">
                <span class="icon is-small is-left">
              <i class="fas fa-th-list"></i>
                </span><span>Show Inventory</span></button>
                  </form>
                  <div *ngIf="adventurerToShowInventoryForName !== null">
                    <div class="box" *ngIf="adventurerToShowInventoryForName === adventurer.name">
                      <table class="table is-striped is-fullwidth is-hoverable">
                        <tr>
                          <th>Inventory</th>
                        </tr>
                        <div *ngFor="let item of adventurer.inventory">
                          <div>
                            <tr>
                              <td>{{item.name}}</td>
                              <td>
                                {{item.amount}}
                              </td>
                            </tr>
                          </div>
                          <div class="is-size-6">
                            <tr>
                              <td>{{item.description}}</td>
                            </tr>
                          </div>
                        </div>
                      </table>


                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="(adventurer.downloadLink!== null) && (adventurer.downloadLink !== '')">
                  <a class="button is-green-blue is-white-script" href="{{adventurer.downloadLink}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-download"></i>
                </span>
                    <span>Download</span>
                  </a>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="gametable.subscribedUserList.length > 0">
    <hr class="is-black">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let user of gametable.subscribedUserList">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title is-centered">
                <span *ngIf="user.adminStatus" class="icon is-small is-left">
                  <i class="fas fa-chess-king is-green-blue-script"></i>
                </span>
                <span *ngIf="!user.adminStatus" class="icon is-small is-left">
                  <i class="fas fa-chess-pawn is-green-blue-script"></i>
                </span>
                <span>&nbsp;</span>
                <div>
                  <p routerLink="/profile/{{user.id.toString()}}"><a>{{user.username}}</a></p>
                </div>
              </div>
            </div>
            <ng-container *ngIf="sessionUser.adminStatus || (sessionUser.username === gametable.owningGM.username)">
              <div class="card-content has-text-centered">
                <form (ngSubmit)="deleteSubscribedUser(user)">
                  <button class="button is-white-script is-red" type="submit">
                    <span>Delete Subscribed User</span></button>
                </form>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="gametable.tempSubscribedUserList.length > 0">
    <hr class="is-black">

    <div class="columns is-multiline is-variable is-8">
      <div *ngFor="let user of gametable.tempSubscribedUserList">
        <div class="column">
          <div class="card">
            <div class="card-header-title is-centered">
                <span *ngIf="user.adminStatus" class="icon is-small is-left">
                  <i class="fas fa-chess-king is-green-blue-script"></i>
                </span>
              <span *ngIf="!user.adminStatus" class="icon is-small is-left">
                  <i class="fas fa-chess-pawn is-green-blue-script"></i>
                </span>
              <span>&nbsp;</span>
              <div>
                <p routerLink="/profile/{{user.id.toString()}}"><a>{{user.username}}</a></p>
              </div>
            </div>
            <ng-container *ngIf="sessionUser.adminStatus || (sessionUser.username === gametable.owningGM.username)">
              <div class="card-content has-text-centered">
                <form (ngSubmit)="deleteTempSubscribedUser(user)">
                  <button class="button is-white-script is-red" type="submit">
                    <span>Delete Subscribed User</span></button>
                </form>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


</ng-container>
