<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <h3 class="title is-3">Dashboard</h3>
  </div>
  <div class="column">
    <app-help-window
      [myMessage]="'Here is a Dashboard to navigate you wherever you want to go. ' +
       'This section is sadly still waiting for an epic test. :('">
    </app-help-window>
  </div>
</div>

<div class="columns is-multiline is-variable is-8">

  <div class="column">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">
          <div class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="./assets/static/img/Table.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Gametables</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content has-text-left">
        <button class="button is-white-script is-green-blue" routerLink="/gametables"><span
          class="icon is-small is-left">
              <i class="fas fa-arrow-right"></i>
              </span>
          <span>Go To</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="sessionUser.roleInGroup === 'player'">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="./assets/static/img/Helmet.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Adventurers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content has-text-left">
          <button class="button is-white-script is-green-blue" routerLink="/adventurers"><span
            class="icon is-small is-left">
              <i class="fas fa-arrow-right"></i>
              </span>
            <span>Go To</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="sessionUser.adminStatus">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <i class="fas fa-chess-king is-green-blue-script"></i>
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Admin Area</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content has-text-left">
          <button class="button is-white-script is-green-blue" routerLink="/admin"><span
            class="icon is-small is-left">
              <i class="fas fa-arrow-right"></i>
              </span>
            <span>Go To</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
